.*.swp
.swp
.DS_Store
*.pyc
tmp/
svn-users.txt
.gitconfig-user
soapui-settings.xml
default-soapui-workspace.xml

/.CFUserTextEncoding
/.Trash/
/.bash_history
/.cache/
/.composer/
/.dropbox/
/.dropbox-master/
/.filezilla/
/.gist-vim
/.git-completion.bash
/.gitk
/.gvimrc
/.irb_history
/.lesshst
/.mysql_history
/.notes
/.pearrc
/.php_history
/.ssh/
/.subversion/
/.vim/
/.viminfo
/.vimrc
/.cups/
/.slocdata/
/.pow
/.vagrant.d/
/.wireshark
/.wireshark-etc

/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Projects/
/Public/
/Sites/
/etc/
/Virtual Box Images/
/VirtualBox VMs/

