# vim: ft=gitconfig:

[include]
    path = .gitconfig-user

[pretty]
    shortnsweet = %C(green)%h%C(blue)%d%C(reset) %s  %C(yellow)%an%C(reset), %cr

[alias]
    aa = add --all
    amend = commit --amend
    au = add --update
    ci = commit
    co = checkout
    d = diff
    dc = diff --cached
    info = "!git remote -v && git branch -a"
    l = "!echo && (git --no-pager log -15 --pretty=shortnsweet) && echo"
    ll = log --pretty=shortnsweet --graph
    pullff = pull --ff-only
    s = status --short --branch
	lostcommits = "!git fsck | grep commit | cut -d' ' -f3 | while read hash; do git rev-parse --verify --quiet $hash^2 && echo $hash; done | xargs git show"

[color]
    ui = auto

[github]
    user = dubgeiser

[push]
    default = simple
