.*.swp
.swp
.DS_Store
*.pyc
tmp/
svn-users.txt
.gitconfig-user
soapui-settings.xml
default-soapui-workspace.xml
hipchatrooms.html

/.CFUserTextEncoding
/.Trash/
/.archey-ip
/.awssecret
/.bash_history
/.cache/
/.composer/
/.dropbox/
/.dropbox-master/
/.filezilla/
/.gem/
/.gist-vim
/.git-completion.bash
/.gitk
/.gvimrc
/.heroku
/.irb_history
/.irssi
/.lesshst
/.mysql_history
/.netrc
/.node-gyp
/.npm
/.notes
/.oracle_jre_usage
/.pearrc
/.php_history
/.psql_history
/.sonar/
/.sqlite_history
/.ssh/
/.subversion/
/.vim/
/.viminfo
/.vimrc
/.cups/
/.slocdata/
/.trc
/.pow
/.vagrant.d/
/.wireshark
/.wireshark-etc

/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Projects/
/Public/
/Sites/
/etc/
/Virtual Box Images/
/VirtualBox VMs/

