.*.swp
.swp
.DS_Store
*.pyc
tmp/

/.CFUserTextEncoding
/.Trash/
/.bash_history
/.cache/
/.composer/
/.dropbox/
/.filezilla/
/.gist-vim
/.git-completion.bash
/.gitk
/.gvimrc
/.irb_history
/.lesshst
/.mysql_history
/.notes
/.pearrc
/.php_history
/.ssh/
/.subversion/
/.vim/
/.viminfo
/.vimrc
/.cups/
/.slocdata/

/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Projects/
/Public/
/Sites/
/etc/
/Virtual Box Images/
/VirtualBox VMs/

