# vim: ft=gitconfig:

[user]
    email = per@dubgeiser.net
    name = Per

[alias]
    s = status --short --branch
    st = status
    aa = add --all
    au = add --update
    amend = commit --amend
    ci = commit
    co = checkout
    d = diff
    dc = diff --cached
    l = "!(git --no-pager log -15 --pretty=format:'%C(green)%h%C(blue)%d%C(black) %s  %C(yellow)%an%C(reset), %cr' --abbrev-commit --date=relative --graph) && echo"
    ll = log --pretty=format:'%C(green)%h%C(blue)%d%C(black) %s  %C(yellow)%an%C(reset), %cr' --abbrev-commit --date=relative --graph
    pom = push origin master
    pum = pull origin master
    info = "!git remote -v && git branch -a"

[color]
    ui = auto

[github]
    user = dubgeiser
