# TAB auto completion case insensitive
set completion-ignore-case on

# Allow UTF-8 input and output
set input-meta on
set output-meta on
set convert-meta off

# No bell, no flash
set bell-style none

